* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins",
        sans-serif;
}

:root {
    --bg-color: #080808;
    /* --bg-color: rgb(26, 160, 122); */
    /* --second-bg-color: #131313; */
    --text-color: white;
    --main-color: rgb(82, 157, 232);
    /* --main-color: rgb(149, 239, 219); */
}

html {

    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    animation: slidefromtop 1s ease forwards;
    opacity: 0;
}

@keyframes slidefromtop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}



.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
 
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    height: 100vh;
    padding: 10rem 12% 10rem;

}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
    animation: slidefromleft 1s ease forwards;
    opacity: 0;
}

@keyframes slidefromleft {

    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

span {
    color: var(--main-color);}
    #name{
    /* text-shadow:  20px 20px rgb(84, 85, 88); */
}

.logo span {
    color: var(--main-color);
}

.home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img {
    border-radius: 100%;
}

.home-img img {
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 100%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
    animation: opacity 2s ease forwards;
    opacity: 0;
}

@keyframes opacity {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "B.tech CSIT Student.";
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 70%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.7s infinite, typing 20s steps(22) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 90px);
    }
}
body {
    height: 100vh;
    /* overflow: hidden; */
    background: var(--bg-color);
    font-family: Helvetica, sans-serif;
    color: rgb(211, 211, 211);
    text-shadow: var(--main-color);
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.heading {
    font-size: 8rem;
    text-align: center;
    margin: 2rem;
}
.education{

   
    display: flex;
    justify-content: space-around;
    flex-direction: column;

   
}    

    .education h2{
        margin-bottom: 5rem;
    }


.portion {
    /* height: 70%; */
    margin-left: 6rem ;
    margin-right: 6rem;
    /* padding: 1.5rem ; */
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}


.container {
    margin: 2rem;
    /* padding: 2rem; */
    width: 300px;
    height: 200px;
    perspective: 500px;
}
.container h1{
    margin-bottom: 0rem;
}

.container:hover>.card {
    /* cursor: pointer; */
    transform: rotateY(180deg);
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
 }




.front,
.back {
    
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px var(--main-color);
    position: absolute;
    backface-visibility: hidden;
}

.front h1 {
    text-align: center;
    margin-top: 10rem;
    font-size:2.3rem;
    text-shadow: rgb(0, 0, 0) 10px 10px 10px;
    text-decoration: underline overline white;
   
}
#card1{
    background-image: url(background\ image.avif);
    height: 100%;
    width: 100%;
    object-fit: cover; 
    overflow-y: hidden;   
}
#card2{
    background-image: url(background\ image.avif);
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow-y: hidden; }
#card3{
    background-image: url(background\ image.avif);
   height: 100%;
   width: 100%;
   object-fit: cover;
   overflow-y: hidden;
}
#card4{
    background-image: url(background\ image.avif);
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow-y: hidden;
}



.back {
   
    background: linear-gradient(0.25turn, #51b5f4, #084cf8, #1ac2c2);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;}

    .back h2{
    
    font-size: 3rem;
}






::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 50px;
}

.skills{ 

    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.heading {
    font-size: 8rem;
    text-align: center;
    margin: 2rem;
}
.skillsElement{
    display: flex;
    flex-direction: row;
}

.paper{
     height: 45rem;
    width: 30rem;
    /* margin: 10%; */
    /* height: 90%;
    width: 100%; */
    padding:2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgb(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.paper:hover{
    transform: translateY(20px);
}
.paper:before{
    content:"" ;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(243, 233, 242, 0.7),rgb(211, 96, 249));
    z-index: 2;
    transition: 0.5s all;
   opacity: 0;

}
.paper:hover:before{
    opacity: 1;
}
.paper img{
      padding:0.5rem 0.2rem ;
     width: 100%;
     height: 100%;
    object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.info{
   position:relative;
   z-index: 3;
    color: #fff;
    opacity: 1;
    transform: translate(30px);
    transition: 0.5s all;
    font-size: 1.8rem;
    text-shadow: 10px 10px 10px black;
}
.info p {
    padding-bottom: 3rem;
}
.info:hover{
    opacity: 1;
    transform:translateY(0px);

}
.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
    width: 60px;
    height: 60px;
    
    border-radius: 50%;
    background-color: var(--main-color);
    animation: animate 3s linear forwards;

}

.progress-bar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--main-color);
}

@keyframes animate {
    100% {
        --html_progress: calc(calc(92 / 100) * 360deg);
        --css_progress: calc(calc(76 / 100) * 360deg);
        --js_progress: calc(calc(30 / 100) * 360deg);
        --cpp_progress: calc(calc(23 / 100) * 360deg);
    }
}



html {
    --html_progress: 0deg;
    --css_progress: 0deg;
    --js_progress: 0deg;
    --cpp_progress: 0deg;
}
.counter {
    background-color:black;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
}
#child1 {
    background: conic-gradient(var(--main-color) 0turn var(--html_progress),
            #202020 0turn);
}

#child2{
    background: conic-gradient(var(--main-color) 0turn var(--css_progress),
            #202020 0turn);
}

#child3{
    background: conic-gradient(var(--main-color) 0turn var(--js_progress),
            #202020 0turn);
}

#child4 {
    background: conic-gradient(var(--main-color) 0turn var(--cpp_progress),
            #202020 0turn);
}


.contact {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: var(--second-bg-color);
}

/* .head {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: var(--second-bg-color);
} */
.head{
    position: relative;
    margin-bottom:10rem;

}
.head h2{
    position: absolute;
    color: #fff;
    transform: translate(-50%,-50%);
    font-size: 8rem;


}
.head h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;

}
.head h2:nth-child(2)
{
    color:#03a9f4;
    animation: wave 4s ease infinite;
}

@keyframes wave {
    0%,100%{
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 77% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100% );
    }
    50%{
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 34% 66%, 51% 62%, 67% 50% , 84% 45% , 100% 46%, 100% 100%, 0% 100%);
       
    }
} 

.contact-details {
    margin-bottom: 20px;
    height: 60%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 35%);
    justify-content: center;
    column-gap: 2rem;
}

.my-details ul {

    height: 100%;
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-evenly;
    text-align: left;
}

.my-details ul li h3 {
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 2.4rem;
}

.my-details ul li p {
    font-size: 1.8rem;
    color: #ffffff62;
}

.contact-form form {
    display: grid;
    grid-template-areas: "name name"
        "number email"
        "subject subject"
        "message message"
        "message message"
        "btn btn";
    gap: 1rem;
    column-gap: 1rem;
}

.contact-form form :nth-child(1) {
    grid-area: name;
    width: 100%;
}

.contact-form form :nth-child(2) {
    grid-area: number;
    width: 100%;

}

.contact-form form :nth-child(3) {
    grid-area: email;
    width: 100%;

}

.contact-form form :nth-child(4) {
    grid-area: subject;
    width: 100%;
}

.contact-form form :nth-child(5) {
    grid-area: message;
    width: 100%;

}

.contact-form form :nth-child(6) {
    grid-area: btn;
}

input,
textarea {
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 1rem;
    border: 2px solid var(--main-color);
    margin: 1 0;
    resize: none;
}



form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid var(--main-color);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid var(--main-color); }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:var(--main-color);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:var(--main-color); }
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--bg-color);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a {
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    height: 42px;
    width: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0px 10px;
    transition: 0.3s ease-in-out;
}

footer .social a:hover {
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

footer ul li a:hover {
    border-bottom: 3px solid var(--main-color);
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 30px;
    text-align: center;
    font-size: 13px;
    color: white;
}


@media (max-width:1264px) {
    html {
        font-size: 55%;
    }
}

@media (max-width : 1153px) {
    .text-animation span::before {
        content: "B.tech CSIT Student.";
        color: var(--main-color);
    }

    .text-animation span::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
    }
}



@media (max-width:906px) {
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

   

   

    

    .skills-list {
        margin-bottom: 5px;
        height: auto;
        grid-template-columns: repeat(1, 100%);
    }

    .contact-details {
        margin-bottom: 20px;
        height: 60%;
        grid-template-columns: repeat(1, 100%);
        justify-content: center;
        row-gap: 5rem;
    }

    .footer {
        padding: 2rem 3%;
    }

}

@media(max-width:895px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }

    .home {
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 8rem;
        margin-top: 3rem;
    }

    .home-content p {
        max-width: 600px;
        margin: 0 auto;
    }

    .home-img img {
        width: 56vw;
    }
    .education{
        height: auto;
    } 
     
}
@media(max-width:680px){
    .portion{
        flex-direction: column;
        /* flex-wrap: wrap; */
        /* margin: 5rem 4rem; */
        justify-content: center;
        align-items: center;
        padding: 0%; 
         margin: 0%;
    } } 
   

@media only screen and (max-width: 900px) {
    .skills {
        padding: 5rem 8% 5rem;
        height: auto;
    }

    .skillsElement {
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

    }

    .paper {
        height:45rem ;
        width: 30rem;
        margin-bottom: 2rem;
    }

    .heading {
        font-size: 5rem;
    }
    
}

@media only screen and (max-width: 480px) {
    .heading {
        font-size: 4rem;
    }
}

/* Add more media queries as needed for different screen sizes */

